
.app-form {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.app-form form {
  padding: 20px;
  color: black;
  width: 350px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  background-color: white;
}

.border-right {
  border-right: 1px solid #dee2e6!important;
}

.fs-14 {
  font-size: 14px;
}

.box-shadow {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.cursor-pointer {
  cursor: pointer;
}
